@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 1120px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FFFBE6;
}

.sliderValue {
  position: relative;
  width: 100%;
}

.sliderValue span {
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: black;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.sliderValue span:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: green;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.field .value {
  position: absolute;
  font-size: 18px;
  color: green;
  font-weight: 600;
}

.field .value.left {
  left: -22px;
}

.field .value.right {
  right: -43px;
}

.slick-slider.marginmid .slick-slide {
  margin-right: 6px;
  margin-left: 6px;
}

.slick-slider.paddings .slick-track {
  padding: 32px 0;
}

.slick-slider.midPaddings .slick-slide{
  margin-right: 2px;
  margin-left: 2px;
}
.slick-slider.commentsPaddings .slick-slide{
  margin-right: 1px;
  margin-left: 1px;
}


.pointer-down::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #FFFBE6;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
}

input[type="radio"] {
  appearance: none;
  background-color: var(--background);
  display: inline-block;
  width: 18px;
  height: 18px;
  font: inherit;
  color: currentColor;
  border: 2px solid #263800;
  border-radius: 50%;
}

input[type="radio"]:checked {
  border-color: #263800;
  background-color: #263800;
  box-shadow: inset -.005rem -.005rem 0 .12rem #FFFBE6;
}
